a{
    color: #585858;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

table{
    width: 100%;
}

#menu_ppal{
    padding: 6px;
    border: solid 1px #CCCCCC;
}

.titulo{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 6px;
}

.total_datos{
    text-align: right;
    font-weight: bold;
    margin: 4px;
}

.celda_codigo{
    width: 8%;
    text-align: center;
}

.celda_texto{
    text-align: left;
}

.celda_accion{
    width: 12%;
    text-align: center;
}