body{
    font-size: 1em;
}

.aviso{
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px;
}

.aviso_info{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.aviso_error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}